* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body {
  background-color: rgba(247, 247, 255, 0.8);
}
